
@{
    ViewBag.Title = "Read";
}



<!--============================= SUBPAGE HEADER BG =============================-->

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="title-block title-block_subpage">
                    <h2>How to choose top restaurants</h2>
                    <p> <a href="index.html"> Home</a> / Blog Detail</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--// SUBPAGE HEADER BG -->
<!--============================= BLOG DETAIL =============================-->

<section class="main-block">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 responsive-wrap">
                <div class="full-blog ">
                    <figure class="img-holder">
                        <a href="#"><img src="~/Public/Blog/article-img2.jpg" class="img-fluid" alt="#"></a>
                        <div class="blog-post-date">Nov 19, 2018</div>
                    </figure>

                    <div class="blog-content">
                        <p class="text-muted">By: <a href="#"> Ruchika Megh</a> / 4 Comments</p>
                        <div class="blog-text">
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>

                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <blockquote class="blockquote text-center my-5">
                                <p class="mb-0">Enable pandemic paradigms via highly efficient relationships.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                            <h5>Corporate infomediaries after visionary convergence</h5>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p class="lead">
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        </div>
                    </div>
                    <ul class="social-icons blog-share">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="comments">
                        <h4>4 Comments</h4>
                        <div class="media">
                            <img class="mr-3" src="https://via.placeholder.com/256x256.jpg" alt="#">
                            <div class="media-body">
                                <h6 class="mt-0 mb-0"><a href="#">Ankita Luthar</a> </h6>
                                <p class="mb-1"><small class="text-muted">Sept 06, 2018 AT 08:00 PM &middot; <a href="#">Reply</a></small></p>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                <div class="media mt-4">
                                    <a class="pr-3" href="#">
                                        <img src="https://via.placeholder.com/256x256.jpg" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-0"><a href="#">Christine S</a> </h6>
                                        <p class="mb-1"><small class="text-muted">Sept 06, 2018 AT 09:00 PM &middot; <a href="#">Reply</a></small></p>
                                        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments">
                        <div class="media">
                            <img class="mr-3" src="https://via.placeholder.com/256x256.jpg" alt="#">
                            <div class="media-body">
                                <h6 class="mt-0 mb-0"><a href="#">Chesta J</a></h6>
                                <p class="mb-1"><small class="text-muted">Sept 07, 2018 AT 11:00 PM &middot; <a href="#">Reply</a></small></p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comments">
                        <div class="media">
                            <img class="mr-3" src="https://via.placeholder.com/256x256.jpg" alt="#">
                            <div class="media-body">
                                <h6 class="mt-0 mb-0"><a href="#">Nikita Rana</a> </h6>
                                <p class="mb-1"><small class="text-muted">Nov 17, 2018 AT 06:00 AM &middot; <a href="#">Reply</a></small></p>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4>Leave a reply</h4>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control comment-text" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control comment-text" placeholder="Enter Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control comment-text" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn-submit">SEND MESSAGE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--//END BLOG DETAIL -->
