@model ASPFINAL.ViewModel.FirstPage
@{
    ViewBag.Title = "Read";
}

    <!--============================= BOOKING =============================-->

    <div>
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="~/Public/ListingRead/feat_slide1.jpg" class="grid image-link">
                        <img src="~/Public/ListingRead/feat_slide1.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Public/ListingRead/feat_slide2.jpg" class="grid image-link">
                        <img src="~/Public/ListingRead/feat_slide2.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Public/ListingRead/feat_slide3.jpg" class="grid image-link">
                        <img src="~/Public/ListingRead/feat_slide3.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Public/ListingRead/listing-thumb-4.jpg" class="grid image-link">
                        <img src="~/Public/ListingRead/listing-thumb-4.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Public/ListingRead/listing-thumb-5.jpg" class="grid image-link">
                        <img src="~/Public/ListingRead/listing-thumb-5.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Public/ListingRead/listing-thumb-3.jpg" class="grid image-link">
                        <img src="~/Public/ListingRead/listing-thumb-3.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->

    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>@Model.place2.Name</h5>
                    <p><span>$$$</span>$$</p>
                    <p class="reserve-description">@Model.place2.Slogan.</p>
                </div>
                <div class="col-md-6">
                    <div class="reserve-seat-block align-items-center">
                        <div class="reserve-rating mx-0 mx-md-3">
                            <span>9.5</span>
                        </div>
                        <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                                <a href="#" class="btn btn-danger">RESERVE A SEAT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->

    <section class="gray-dark booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                            <hr>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.servicplace.Where(w=>w.PlaceId==Model.place2.Id))
                            {
                                <div class="col-md-2">
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">@item.Service.Name</span>
                                    </label>
                                  
                                </div>

                            }
                           
                        </div>
                    </div>
                    <div class="booking-checkbox_wrap booking-your-review">
                        <h5>Write a Review</h5>
                        <hr>
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                <img src="images/avatar.jpg" class="img-fluid" alt="#">
                            </div>
                            <div class="customer-content-wrap">
                                <div class="your-rating-wrap">
                                    <span>Your rating</span>
                                    <div class="customer-review">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="round-icon-blank"></span>
                                    </div>
                                </div>
                                <div class="your-comment-wrap">
                                    <textarea name="#" class="your-rating-content" placeholder="Enter Your Comments"></textarea>
                                    <h6 class="your-rating-notify">at least 140 characters</h6>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mr-auto">
                                        <div class="add-photos-link mb-3 mb-md-0">
                                            <a href="#"><i class="icon-picture"></i>Add Photos</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="your-rating-btn">
                                            <a href="#" class="btn btn-danger btn-block">Publish Review</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="booking-checkbox_wrap my-4">
                        <h4>143 Reviews</h4>
                        <hr>
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                <img src="https://via.placeholder.com/256x256.jpg" class="img-fluid" alt="#">
                                <p>Ankita L</p>
                                <span>43 Reviews</span>
                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                        <h5>Best noodles in the Newyork city</h5>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="round-icon-blank"></span>
                                        <p>Reviewed 4 days ago</p>
                                    </div>
                                    <div class="customer-rating">8.0</div>
                                </div>
                                <p class="customer-text">
                                    I love the noodles here but it is so rare that I get to come here. Tasty Hand-Pulled Noodles is the best type of whole in the wall restaurant. The staff are really nice, and you should be seated quickly. I usually get the
                                    hand pulled noodles in a soup. House Special #1 is amazing and the lamb noodles are also great. If you want your noodles a little chewier, get the knife cut noodles, which are also amazing. Their dumplings are great
                                    dipped in their chili sauce.
                                </p>
                                <p class="customer-text">
                                    I love how you can see into the kitchen and watch them make the noodles and you can definitely tell that this is a family run establishment. The prices are are great with one dish maybe being $9. You just have to remember
                                    to bring cash.
                                </p>
                                <ul>
                                    <li><img src="https://via.placeholder.com/500x355.jpg" class="img-fluid" alt="#"></li>
                                    <li><img src="https://via.placeholder.com/500x355.jpg" class="img-fluid" alt="#"></li>
                                    <li><img src="https://via.placeholder.com/500x355.jpg" class="img-fluid" alt="#"></li>
                                </ul>
                                <span>56 people marked this review as helpful</span>
                                <a href="#"><span class="icon-like"></span>Helpful</a>
                            </div>
                        </div>
                        <hr>
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                <img src="https://via.placeholder.com/256x256.jpg" class="img-fluid" alt="#">
                                <p>Saniya G</p>
                                <span>31 Reviews</span>
                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                        <h5>A hole-in-the-wall old school shop.</h5>
                                        <span class="customer-rating-red"></span>
                                        <span class="round-icon-blank"></span>
                                        <span class="round-icon-blank"></span>
                                        <span class="round-icon-blank"></span>
                                        <span class="round-icon-blank"></span>
                                        <p>Reviewed 2 months ago</p>
                                    </div>
                                    <div class="customer-rating customer-rating-red">2.0</div>
                                </div>
                                <p class="customer-text">The dumplings were so greasy...the pan-fried shrimp noodles were the same. So much oil and grease it was difficult to eat. The shrimp noodles only come with 3 shrimp (luckily the dish itself is cheap) </p>
                                <p class="customer-text">
                                    The beef noodle soup was okay. I added black vinegar into the broth to give it some extra flavor. The soup has bok choy which I liked - it's a nice textural element. The shop itself is really unclean (which is the case
                                    in many restaurants in Chinatown) They don't wipe down the tables after customers have eaten. If you peak into the kitchen many of their supplies are on the ground which is unsettling...
                                </p>
                                <span>16 people marked this review as helpful</span>
                                <a href="#"><span class="icon-like"></span>Helpful</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 responsive-wrap">
                    <div class="contact-info">
                        <img src="https://via.placeholder.com/403x291.png?text=Google+Map" class="img-fluid" alt="#">
                        <div class="address">
                            <span class="icon-location-pin"></span>
                            <p> LocalNavi St<br> New York, NY 10013<br> b/t Division St. & St. James Pl <br> Chinatown, Civic Center</p>
                        </div>
                        <div class="address">
                            <span class="icon-screen-smartphone"></span>
                            <p> +01 23 4567 8910</p>
                        </div>
                        <div class="address">
                            <span class="icon-link"></span>
                            <p>https://www.example.com</p>
                        </div>
                        <div class="address">
                            <span class="icon-clock"></span>
                            <p>Mon - Sun 09:30 am - 05:30 pm </p>
                            <a href="#" class="featured-open">OPEN NOW</a>
                        </div>
                        <a href="#" class="btn btn-outline-danger btn-contact">SEND A MESSAGE</a>
                    </div>
                    <div class="follow">
                        <div class="follow-img">
                            <img src="https://via.placeholder.com/512x512.jpg" class="img-fluid" alt="#">
                            <h6>Martina Lencer</h6>
                            <span>New York</span>
                        </div>
                        <ul class="d-flex">
                            <li class=" flex-fill">
                                <h6>52</h6>
                                <span>followers</span>
                            </li>
                            <li class=" flex-fill">
                                <h6>46</h6>
                                <span>following</span>
                            </li>
                        </ul>
                        <a href="#">FOLLOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--//END BOOKING DETAILS -->







