
@{
    ViewBag.Title = "Index";
}



<!--============================= MAIN TITLE =============================-->

<section class="main-block info-area">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-md-10">
                <h1>The world’s first customer friendly platform for people and their businesses.</h1>
            </div>
        </div>
    </div>
</section>

<section class="main-block info-area">
    <div class="container">
        <div class="single-info row mt-40">
            <div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
                <div class="info-thumb">
                    <img src="~/Public/About/about.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h2 class="pb-30">We Realize that <br>you deserve something <br>extraordinary</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <br>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. </p>
                    <br>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row justify-content-center text-center align-items-center mb-5">
            <div class="col-md-10">
                <h2>Our People and Offices</h2>
            </div>
        </div>
        <div class="country-office row justify-content-center align-items-center">
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 text-center py-3">
                <div class="py-3"><img src="~/Public/About/flag-2.png"></div>
                <div class="title">United States</div>
                <p>406 Orange Ave, Mountain View CA 94045</p>
            </div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 text-center py-3">
                <div class="py-3"><img src="~/Public/About/flag-1.png"></div>
                <div class="title">Canada</div>
                <p>23 Albert Hall, Start Road, Okala AJ 32017</p>
            </div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 text-center py-3">
                <div class="py-3"><img src="~/Public/About/flag-3.png"></div>
                <div class="title">Australia</div>
                <p>2nd Floor, Winston Street, 486, JPR 68443</p>
            </div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 text-center py-3">
                <div class="py-3"><img src="~/Public/About/flag-4.png"></div>
                <div class="title">China</div>
                <p>475A Crown St. White Hills, 1st Floor Newton Road 3JL</p>
            </div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 text-center py-3">
                <div class="py-3"><img src="~/Public/About/flag-5.png"></div>
                <div class="title">Germany</div>
                <p>1563 W. Stephens Ct. W. Fulton Market IL 30561</p>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center mb-5">
            <div class="col-md-6">
                <h2>Leadership</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="leadership row justify-content-center align-items-center">
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <div class="py-2"><img src="~/Public/About/author-1.jpg"></div>
                <div class="name">Harry Jackson</div>
                <div class="designation">CEO & Co-founder</div>
                <span><a href="" data-toggle="modal" data-target="#exampleModal01">Read Bio <i class="fa fa-long-arrow-right"></i></a></span>

                <!-------- Leadership Bio ---------->

                <div class="modal fade bio" id="exampleModal01" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4"><img src="~/Public/About/author-1.jpg"></div>
                                <div class="col-8">
                                    <div class="name pl-2">Harry Jackson</div>
                                    <div class="designation pl-2">CEO & Co-founder</div>
                                </div>
                                <div class="col-md-12 mt-20 bio-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------- End Leadership Bio ---------->

            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <div class="py-2"><img src="~/Public/About/author-2.jpg"></div>
                <div class="name">Martin Cooper</div>
                <div class="designation">Chief Strategy Officer & Co‑founder</div>
                <span><a href="" data-toggle="modal" data-target="#exampleModal02">Read Bio <i class="fa fa-long-arrow-right"></i></a></span>

                <!-------- Leadership Bio ---------->

                <div class="modal fade bio" id="exampleModal02" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4"><img src="~/Public/About/author-2.jpg"></div>
                                <div class="col-8">
                                    <div class="name pl-2">Martin Cooper</div>
                                    <div class="designation pl-2">Chief Strategy Officer & Co‑founder</div>
                                </div>
                                <div class="col-md-12 mt-20 bio-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------- End Leadership Bio ---------->

            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <div class="py-2"><img src="~/Public/About/author-3.jpg"></div>
                <div class="name">Alina Peacock</div>
                <div class="designation">CTO & Co‑Founder</div>
                <span><a href="" data-toggle="modal" data-target="#exampleModal03">Read Bio <i class="fa fa-long-arrow-right"></i></a></span>

                <!-------- Leadership Bio ---------->

                <div class="modal fade bio" id="exampleModal03" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4"><img src="~/Public/About/author-3.jpg"></div>
                                <div class="col-8">
                                    <div class="name pl-2">Alina Peacock</div>
                                    <div class="designation pl-2">CTO & Co‑Founder</div>
                                </div>
                                <div class="col-md-12 mt-20 bio-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------- End Leadership Bio ---------->

            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <div class="py-2"><img src="~/Public/About/author-4.jpg"></div>
                <div class="name">Ankita Alexia</div>
                <div class="designation">Chief Operating Officer</div>
                <span><a href="" data-toggle="modal" data-target="#exampleModal04">Read Bio <i class="fa fa-long-arrow-right"></i></a></span>

                <!-------- Leadership Bio ---------->

                <div class="modal fade bio" id="exampleModal04" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4"><img src="~/Public/About/author-4.jpg"></div>
                                <div class="col-8">
                                    <div class="name pl-2">Ankita Alexia</div>
                                    <div class="designation pl-2">Chief Operating Officer</div>
                                </div>
                                <div class="col-md-12 mt-20 bio-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------- End Leadership Bio ---------->

            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <div class="py-2"><img src="~/Public/About/author-5.jpg"></div>
                <div class="name">Nathan Vargas</div>
                <div class="designation">Chief Marketing Officer</div>
                <span><a href="" data-toggle="modal" data-target="#exampleModal05">Read Bio <i class="fa fa-long-arrow-right"></i></a></span>

                <!-------- Leadership Bio ---------->

                <div class="modal fade bio" id="exampleModal05" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4"><img src="~/Public/About/author-5.jpg"></div>
                                <div class="col-8">
                                    <div class="name pl-2">Nathan Vargas</div>
                                    <div class="designation pl-2">Chief Marketing Officer</div>
                                </div>
                                <div class="col-md-12 mt-20 bio-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------- End Leadership Bio ---------->

            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <div class="py-2"><img src="~/Public/About/author-6.jpg"></div>
                <div class="name">Mary Boswell</div>
                <div class="designation">VP, Sales & Support</div>
                <span><a href="" data-toggle="modal" data-target="#exampleModal06">Read Bio <i class="fa fa-long-arrow-right"></i></a></span>

                <!-------- Leadership Bio ---------->

                <div class="modal fade bio" id="exampleModal06" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4"><img src="~/Public/About/author-6.jpg"></div>
                                <div class="col-8">
                                    <div class="name pl-2">Mary Boswell</div>
                                    <div class="designation pl-2">VP, Sales & Support</div>
                                </div>
                                <div class="col-md-12 mt-20 bio-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------- End Leadership Bio ---------->

            </div>
        </div>
    </div>
</section>

<section class="main-block mb-120">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center mb-5">
            <div class="col-md-6">
                <h2>Our Investors</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <img src="~/Public/About/investor-1.png">
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <img src="~/Public/About/investor-2.png">
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <img src="~/Public/About/investor-3.png">
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <img src="~/Public/About/investor-4.png">
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <img src="~/Public/About/investor-5.png">
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-center py-3">
                <img src="~/Public/About/investor-6.png">
            </div>
        </div>
    </div>
</section>

